.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.active{
  color: purple;
  font-size: 105%;
  font-weight: 500;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.invalid{
  color: black;
  border: 2px solid red;
}

.valid{
  color: black;
  border: 1px solid #ccc;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
/* Style inputs, select elements and textareas */
input[type=text], input[type=number],input[type=email], select, textarea{
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.send{
  margin-top: 5px; 
  padding-top: 50px;
  padding-bottom: 5px;
  border-radius: 10px;
  width: 100%;
  padding: 12px;
  color: white;
  font-weight: bold;
  background-color: darkslateblue;
}


.container {
  margin-top:20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 350px;

}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


#root{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav ul{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 250px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

nav ul a{ 
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
}


.titulo{

  text-align: center;

}


p{
  margin-top: 10px;
  margin-right: 0;
}
.validation-text{
  display: inline-block;
  color: red;
  margin: 0;
  padding: 0;
}
.show{
  display: inline-block;
}
.not-show{
  display: none;
}




.tooltip {
  position: relative;

}   

.tooltip .tooltiptext {
  width: 120px;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0;
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 105%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent red transparent transparent;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    
    
  } 
  
  .tooltip .tooltiptext {
    width: 70%;
    top: -80%;
    left: 50%;
    padding: 4px;
    
    margin-left: -80px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }
  
  .tooltip .tooltiptext::after {
    top: 115%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: red transparent transparent transparent;
  }

}

/*Loader style*/
.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
}

.loader--hide {
  opacity: 0;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.user-list{
  list-style: none;
}

.movies{

display:flex;
flex-direction: column;
align-items: flex-start;
padding-left:100px;
padding-right:100px;


}
.intro-movie{
  padding-right: 3rem;
  padding-left: 3rem;
  align-self: center;
}


.movie-wrapper{
display:inline-flex;
padding: 1rem;





}



.movies img{
  width:300px;

}
.movies-footer{
  display: flex;
  justify-content: center;

  

}

.movies-right{
padding-left: 2rem;
}
.movies-left{
  text-align: center;

}
.movies-footer img{
  width: 100px;
  padding: 1.5rem;
}

@media screen and (max-width: 750px) {
  .movie-wrapper{
    display:flex;
    flex-direction: column;


  
    
  }

  .movies{

    padding-left:10px;
    padding-right:10px;
    
    
    }
  .movies img{
    width: 300px;
  }
 
}


table {
  width: 100%;
  border-spacing: 0;
}
  tr:last-child {
    border-bottom: 0;
  }
  th,
  td {
    margin: 0;
    padding: .5rem;
    text-align: left;
  }
  tr:hover {background-color: #ddd;}
  tr[data-href]{
    cursor: pointer;
  }



  #footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    color: gray;
    text-align: center;
  }

  #footer a{
    text-decoration: none;
    color: gray;
  }

  #footer span{
    padding-left:2px;
    padding-right:5px;
  }


  /*
  portfolio style
  */

  body {

    margin: 0;
    padding: 0;
    width: 100%;
}

.main {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 50px;
    width: 100%;
}
.footer {
    display: table;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #888;
    text-align: center;
}

@media screen and (max-width: 700px){
    .footer{
        position: relative;
    }
    
}

.footer a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-transform: uppercase;
font-size: small;
color: #CCC;
}

/* Style the header */
.header {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;  
}
.header img{
    height: 2em;

}

h1,
h2 {
    font-size: medium;
    margin: 0.3rem;
    font-weight: 500;
    text-align: center;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

@media screen and (max-width:700px){
  #page-title{
    display:none;
  
}

}
.proyectos {
    max-height: 500px;
    padding: 1rem;
    text-align: center;
}

.td-proyectos {
    text-align: left;
}

th,
td {
    padding: 15px;
    text-align: left;
}
.proyectos a {
    text-decoration: none;
}

.inline-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    padding: 0.5rem;
    list-style: none;
}

#logo {
    width: 40px;
    height: 40px;
}
h3 a {
    text-decoration: none;
    color: whitesmoke;
}
th,
td {
    border-bottom: 1px solid #ddd;
}
tr:hover {
    background-color: #f5f5f5;
}





