.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.invalid{
  color: black;
  border: 2px solid red;
}

.valid{
  color: black;
  border: 1px solid #ccc;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
/* Style inputs, select elements and textareas */
input[type=text], input[type=number],input[type=email], select, textarea{
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.send{
  margin-top: 5px; 
  padding-top: 50px;
  padding-bottom: 5px;
  border-radius: 10px;
  width: 100%;
  padding: 12px;
  color: white;
  font-weight: bold;
  background-color: darkslateblue;
}


.container {
 
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 350px;
  
 
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    
  }

}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  margin-top: 10px;
  margin-right: 0;
}
.validation-text{
  display: inline-block;
  color: red;
  margin: 0;
  padding: 0;
}

.not-show{
 display: none;
}
#header{
  text-align: center;
  
}
#header img{
  height: 50px;
  padding: 20px;
}
.version{
  text-align: center;
}



